.custom-bg-yellow {
  background: #f4cc04;
}

.custom-bg-oren {
  background: #f45404;
}

.menu-link:hover {
  background: #f45404;
  color: white;
}

.menu-link.active {
  background: #f45404;
  color: white;
}
